@model CustomerApplication.Models.License

@{
    ViewBag.Title = "New Customer License Information";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="License" asp-action="Create" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CustomerId" class="form-control" value=@ViewData["CustomerId"] readonly/>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <label asp-for="LicenseType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LicenseType" class="form-control" />
                <span asp-validation-for="LicenseType" class="text-danger"></span>
            </div>
            <label asp-for="Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Finish" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
